@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.bg-img {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgglass {
    background-image: url("../img/bgglass.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: 1px solid #1BA8DE;
    box-shadow: 0 0 10px #D3E2E8;
    /* Adjust the width, style, and color as needed */
}

/* Style the input field to be transparent */
input[type="email"] {
    background-color: transparent;
    /* Make background transparent */
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* Optional: semi-transparent border */
    color: #000;
    /* Set text color for visibility */
}

/* Style when the input field is focused */
input[type="email"]:focus {
    border-color: #1BA8DE;
    /* Change border color on focus */
    background-color: transparent;
    /* Ensure background remains transparent */
}


#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    /* Ensure it's behind all content */
    pointer-events: none;
    /* So user interactions aren't blocked */
}

.content {
   
    z-index: 1;

}
   /* Custom media query for screens between 768px and 1024px */
   @media (min-width: 320px) and (max-width: 1024px) {
    .custom-768-1024\:flex-col {
        flex-direction: column !important;
    }
    .custom-768-1024\:w-full {
        width: 100% !important;
    }
}